<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:20%;"><span class="sort" data-sort="id">ID</span></th>
			<th style="width:40%;"><span class="sort" data-sort="name">Name</span></th>
			<th style="width:40%;"><span class="sort" data-sort="file">File</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for nutr in site.data.nutrs %}
		<tr>
			<td class="id">{{ nutr[1].id | escape }}</td>
			<td class="name">{{ nutr[1].name | escape }}</td>
			<td class="file"><a target="_blank" href="http://{{ site.edb_prose_domain_name }}/prose/#{{ site.github_edb_org_name }}/{{ site.github_edb_repo_name }}/edit/{{ site.github_edb_repo_branch_name }}/_data/nutrs/{{ nutr[0] }}.json">{{ nutr[0] }}.json</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>


<script type="text/javascript">

var options = {
  valueNames: ['id', 'name', 'File'],
  // Number of items to display. Not displayed items will still be searchable.
  page: 5000
};

var entryList = new List('entry-list', options);

</script>